//Caption
$carousel-caption-padding: 0 50px !default;
$carousel-caption-color: #ffffff !default;

//Arrows
$carousel-navigation-bt-width: 50px !default;
$carousel-navigation-bt-height: 100px !default;

$carousel-navigation-arrow-size: 35px !default;
$carousel-navigation-arrow-thickness: 2px !default;
$carousel-navigation-default-arrow-color: #ffffff !default;

//Dots
$carousel-dots-width: 40px !default;
$carousel-dots-height: 5px !default;
$carousel-dots-spacer: 3px !default;
$carousel-dots-active-bg: #ffffff !default;
