@charset "UTF-8";
//Import global
@import '../../../sass-global/style';
@import 'config';

.wizzaro-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;

    .slick-list {
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0;

        &:focus {
            outline: none;
        }

        &.dragging {
            cursor: pointer;
            cursor: hand;
        }
    }

    .slick-track,
    .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .slick-track {
        position: relative;
        left: 0;
        top: 0;
        display: block;

        &:before,
        &:after {
            content: "";
            display: table;
        }

        &:after {
            clear: both;
        }

        .slick-loading & {
            visibility: hidden;
        }
    }

    .ws-item {
        display: none;
        position: relative;
        width: 100%;
        min-height: 400px;
        backface-visibility: hidden;
        perspective: 1000px;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
        }

        img {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 0;
            z-index: 0;
            width: auto;
            height: auto;
            min-height: 101%;
            min-width: 101%;
            max-width: 1000%;
            margin: auto;
            -webkit-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }

        &.first,
        &.slick-slide {
            display: table;
            float: left;
            height: 100%;
            table-layout: fixed;

            &.dragging img {
                pointer-events: none;
            }
        }
    }

    .ws-caption {
        display: table-cell;
        position: relative;
        z-index: 2;
        width: 100%;
        margin: auto;
        padding: $carousel-caption-padding;
        text-align: center;
        vertical-align: middle;
        color: $carousel-caption-color;
    }

    .slick-arrow.slick-hidden {
        display: none;
    }

    /* Arrows */

    .slick-prev,
    .slick-next {
        display: block;
        position: absolute;
        top: 50%;
        z-index: 2;
        width: $carousel-navigation-bt-width;
        height: $carousel-navigation-bt-height;
        margin: 0;
        outline: 0;
        border: 0;
        background: transparent;
        padding: 0;
        margin-top: -( $carousel-navigation-bt-height / 2 );
        font-size: 0;
        text-indent: -999px;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            width: $carousel-navigation-arrow-size;
            height: $carousel-navigation-arrow-size;
            margin-top: -($carousel-navigation-arrow-size / 2);
            border-top: $carousel-navigation-arrow-thickness solid $carousel-navigation-default-arrow-color;
            border-right: $carousel-navigation-arrow-thickness solid $carousel-navigation-default-arrow-color;
        }
    }

    .slick-prev {
        left: 0;

        &:before {
            right: 0;
            margin-right: -(($carousel-navigation-bt-width - $carousel-navigation-arrow-size) / 2);
            transform: rotate(-135deg);
        }
    }

    .slick-next {
        right: 0;

        &:before {
            left: 0;
            margin-left: -(($carousel-navigation-bt-width - $carousel-navigation-arrow-size) / 2);
            transform: rotate(45deg);
        }
    }

    /* Dots */

    &.slick-dotted {
        margin-bottom: 30px;
    }

    .slick-dots {
        display: block;
        overflow: hidden;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 10px;
        z-index: 15;
        border: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;

        li {
            display: inline-block;
            position: relative;
            margin: 0 $carousel-dots-spacer;
            padding: 0;
            cursor: pointer;

            button {
                display: block;
                width: $carousel-dots-width;
                height: $carousel-dots-height;
                margin: 0;
                outline: 0;
                border: 0;
                background-color: rgba($carousel-dots-active-bg, .5);
                padding: 0;
                font-size: 0;
                text-indent: -999px;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                -o-border-radius: 0;
                border-radius: 0;
            }

            &.slick-active button {
                background-color: $carousel-dots-active-bg;
            }
        }
    }
}

@supports ( (object-fit: cover) or (-webkit-object-fit: cover) or (-moz-object-fit: cover) or (-ms-object-fit: cover) or (-o-object-fit: cover) ) {
    .wizzaro-slider .ws-item img {
        top: 0;
        left: 0;
        width: 101%;
        height: 101%;
        max-width: none;
        min-height: 0;
        min-width: 0;
        -webkit-object-fit: cover;
        -moz-object-fit: cover;
        -ms-object-fit: cover;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
}
